Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
numpy @ file:///C:/ci/numpy_and_numpy_base_1626271861146/work
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
tensorflow==1.15.0
tensorflow-estimator==1.15.1
numpy==1.18.5
streamlit==0.61.0
pandas==1.0.1
joblib==0.14.1
scikit-learn==0.22.1
